.profile-picture img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}
.profile-picture img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}
ion-content {
  --background: none;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  min-height: 100vh;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* center horizontally */
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

.form-container {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
}

ion-item {
  --background: transparent;
  margin-bottom: 12px;
  border-radius: 8px;
  backdrop-filter: blur(5px);

}

ion-input {
  --background: transparent;
  color: #333;
}

ion-button {
  margin-top: 10px;
  --border-radius: 8px;
  color :  #8b9dc3;
}

ion-toolbar {
  --background: linear-gradient(45deg, #3b5998, #8b9dc3);
  color: white;
}

.ion-text-center {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 16px;
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
ion-input,
ion-select,
ion-checkbox,
ion-label {
  font-size: 16px;
  color: #333;
}

ion-button {
  --border-radius: 8px;
  --padding-start: 14px;
  --padding-end: 14px;
  --padding-top: 14px;
  --padding-bottom: 14px;
  font-size: 16px;
  margin-top: 12px;
  text-transform: none;
  font-weight: 500;
  --background: linear-gradient(45deg, #FFA552, #00B488);
  color: white;
}

ion-button[color="medium"] {
  --background: linear-gradient(45deg, #FFA552, #007F91);
}

ion-button:disabled {
  opacity: 0.6;
}

img {
  border-radius: 8px;
  margin-top: 8px;
}

.image-upload-item,
.image-preview-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
  width: 100%;
}

ion-select::part(text) {
  color: #333;
}

hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .form-container {
    padding: 16px;
    border-radius: 12px;
  }

  ion-title {
    font-size: 1.2rem;
  }

  ion-button {
    font-size: 15px;
  }

  ion-input,
  ion-label,
  ion-select {
    font-size: 15px;
  }

  img {
    max-width: 80px;
    height: 80px;
  }
}

